.UpdateAlcantarilla_container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    animation: fadeIn 1s ease-in-out;
    padding: 20px;
}




/* UpdateAlcantarilla_sectionOne */

.UpdateAlcantarilla_sectionOne {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--body-white);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgb(236, 236, 236);
}

.UpdateAlcantarilla_sectionOne h2 {
    color: var(--text-color-gray);
    font-size: 20px;
}

.UpdateAlcantarilla_formContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

/* .UpdateAlcantarilla_formCodNombContianer */

.UpdateAlcantarilla_formCodNombContianer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.UpdateAlcantarilla_formCodNomb {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.UpdateAlcantarilla_formCodNomb_buttons {
    display: flex;
    gap: 5px;
}

.UpdateAlcantarilla_formCodNomb_buttons button {
    background-color: var(--body-red);
    padding: 7px;
    border-radius: 5px;
    color: var(--text-color-white);
    font-size: 12px;
}



.UpdateAlcantarilla_formDiv {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.UpdateAlcantarilla_formDiv label {
    min-width: 80px;
    font-size: 13px;
    font-weight: 600;
    color: var(--text-color-gray);
}

.UpdateAlcantarilla_formDiv p {
    min-width: 80px;
    width: auto;
    font-size: 13px;
    font-weight: 600;
    color: var(--text-color-gray);
}

.UpdateAlcantarilla_formDiv span {
    width: 100%;
    font-size: 13px;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid var(--body-ligth);
    background-color: var(--body-grayLigth);
}

.UpdateAlcantarilla_formDiv input {
    width: 100%;
    font-size: 13px;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid var(--body-ligth);
}

.UpdateAlcantarilla_formContainer select {
    width: 100%;

    font-size: 13px;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid var(--body-ligth);
    background-color: var(--body-white);
    color: var(--text-color-black);
}

.UpdateAlcantarilla_formDiv textarea {
    font-size: 13px;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid var(--body-light);
}

.custom-file-input {
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom_selecctImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.custom_selecctImg i {
    font-size: 50px;
}

.custom_selecctImg p {
    font-weight: 600;
    text-align: center;
}

.image__preview {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image__preview img {
    width: 150px;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}

/* .crud_form_buttonsContainer */


.UpdateAlcantarilla_form_buttonsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.UpdateAlcantarilla_formButton {
    width: 130px;
    height: 45px;
    font-size: 12px;
    font-weight: 600;
    color: var(--text-color-white);
    background-color: var(--body-darkBlue);
    border: 2px solid var(--body-darkBlue);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease;
}

.crud_formButton:hover {
    background-color: var(--body-white);
    color: var(--text-color-gray);
}